.cls_idcontainer{

}

.cls_wrap{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    transform: translate3d(-50%, 100%, 0);
    left: 50%;
    transition: transform 300ms ease-in;
    will-change: transform;
    z-index: 2147483646;
}

.cls_wrap iframe{
    border: 0;
    pointer-events: none;
}

.cls_wrap .cls_zInferior{
    position: relative;
}

.cls_wrap .cls_close{
    position: absolute;
    display: flex;
}


.cls_wrap .link{
    display: flex;
}

.cls_wrap.cls_open{
    transform: translate3d(-50%, 0, 0);
}

.id_style{

}

